<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trello Clone</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>

	<div class="boards-page-board-section">
		<!-- <div class="boards-page-board-section-header">
			<div class="boards-page-board-section-header-icon">
				<i class="fa fa-lg fa-users"></i>
			</div>
			<h3 class="boards-page-board-section-header-name">Team Name</h3>
			<div class="boards-page-board-section-header-options">
				<a class="boards-page-board-section-header-options-item dark-hover" href="#">
					<span class="icon-sm fa fa-cog boards-page-board-section-header-options-item-icon"></span>
					<span class="boards-page-board-section-header-options-item-name">
						<span>Setting</span>
					</span>
				</a>
			</div>
		</div> -->
		<ul class="boards-page-board-section-list">
			<li class="boards-page-board-section-list-item">
				<a class="board-tile" href="#">
					<span class="board-tile-fade"></span>
					<span class="board-tile-details is-badged">
						<span title="Awesome Board" dir="auto" class="board-tile-details-name">Awesome Title</span>
					</span>
					<span class="board-tile-options">
						<span title="Click to star this board. It will show up at top of your boards list." class="fa fa-sm fa-star-o board-tile-options-star-icon"></span>
					</span>
					<span class="board-tile-badges"></span>
				</a>
				<div class="board-tags u-clearfix"></div>
			</li>
		</ul>
	</div>

	<div class="boards-page-board-section u-clearfix">
		<a class="quiet-button u-float-left" href="#">
			<span>Create a new team...</span>
		</a>
	</div>
    
</body>
</html>