

body, html {
  height: 100%;
}

.container-fluid {
  padding-top: 5%;
}



.form-group {
  padding: 0px;
  margin: 10px auto
}

.button {
    padding: 0px;
    margin: 0 auto;
}

p {
    margin: 10px auto;
    padding: 10px;
}

.fa {
  padding-right: 10px;
}
