/* Custom bootstrap styles */

main.container-fluid {
    padding-top: 7rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.hidden {
    display: none;
}

.fixed-top-2 {
    margin-top: 56px;
    margin-bottom: 25px;
    z-index: 1000;
}